<td><%= customer.first_name %></td>
<td><%= customer.last_name %></td>
<td><%= customer.telephone %></td>
<td><%= customer.email %></td>
<td><%= customer.address %></td>
<td><%= customer.country %></td>
<td>
  <%= link_to "Customer Details", customer, class: "btn btn-primary details-button" %>
</td>