<div class="customer-container">
  <div class="row justify-content-center">
    <div class="col-md-6">
 
      <%= form_with(model: customer) do |form| %>
        <div class="border mb-4 border-2 p-4">
        <div class="form-group">
          <div class="container d-flex justify-content-center align-items-center">
          <h4 class="text-center border-bottom">Customer Details</h4>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= form.label :first_name %>
              <%= form.text_field :first_name, class: "form-control" %>
            </div>
            <div class="col-md-6">
              <%= form.label :last_name %>
              <%= form.text_field :last_name, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <%= form.label :telephone %>
              <%= form.text_field :telephone, class: "form-control" %>
            </div>
            <div class="col-md-6">
              <%= form.label :email %>
              <%= form.text_field :email, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <%= form.label :address %>
              <%= form.text_field :address, class: "form-control" %>
            </div>
            <div class="col-md-6">
            <div class="form-group">
              <%= form.label :country %>
              <%= form.select :country, options_for_select(ISO3166::Country.all.map { |c| [c.translations['en'], c.alpha2] }), {prompt:true}, class: "form-control" %>
             </div>
          </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <%= form.label :city %>
              <%= form.text_field :city, class: "form-control" %>
            </div>
            <!-- Add more form fields here for the second column -->
          </div>
        </div>
        </div>
        <div class="border mb-4 border-2 p-4">
        <div class="container d-flex justify-content-center align-items-center">
        <h4 class="text-center border-bottom">Good Details</h4>
        </div>
        <%= form.fields_for :goods do |f|%>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="col-md-6">
                <%= f.label :weight %>
                <%= f.number_field :weight, step: :any, class: "form-control" %>
              </div>
              <div class="col-md-6">
                <%= f.label :unit_price %>
                <%= f.number_field :unit_price, step: :any, class: "form-control" %>
              </div>

            </div>
          </div>
          <!-- Add more form fields for goods if needed -->
          </div>
        <% end %>
        <div class="container d-flex justify-content-center align-items-center form-group">
          <%= form.submit "Save", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
