<div class="container">
  <div class="jumbotron">
    <h2 class="display-4">All Customers</h2>
    <p class="lead" style="color: green;"><%= notice %></p>
  </div>

  <div id="customers">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Telephone</th>
          <th>Email</th>
          <th>Address</th>
          <th>Country</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr id="<%= dom_id customer %>">
            <td><%= customer.first_name %></td>
            <td><%= customer.last_name %></td>
            <td><%= customer.telephone %></td>
            <td><%= customer.email %></td>
            <td><%= customer.address %></td>
            <td><%= customer.country %></td>
            <td>
              <%= link_to "Customer Details", customer, class: "btn btn-primary details-button" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <%= link_to "Listing details", index_c_g_customer_path(@customers), class: "btn btn-success" %>
  <%= link_to "New customer", new_customer_path, class: "btn btn-success" %>
</div>

<%= render partial: 'index_c_g', locals: { customers: @customers } %>
