<div class="container">
  <div class="jumbotron text-center">
    <h2 class="display-4">Customer Details</h2>
    <p class="lead" style="color: green;"><%= notice %></p>
  </div>

  <div class="customer-card">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>First Name:</td>
          <td><%= @customer.first_name %></td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td><%= @customer.last_name %></td>
        </tr>
        <tr>
          <td>Telephone:</td>
          <td><%= @customer.telephone %></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>Address:</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>City:</td>
          <td><%= @customer.city %></td>
        </tr>
        <tr>
          <td>Country:</td>
          <td><%= @customer.country %></td>
        </tr>
      </tbody>
    </table>
  
<div class="customer-links">
  <%= link_to "Edit this customer", edit_customer_path(@customer), class: "btn btn-primary mr-3 mb-3 mb-md-0" %>
  <%= link_to "Back to customers", customers_path, class: "btn btn-secondary mr-3 mb-3 mb-md-0" %>
  <%= button_to "Delete customer", @customer, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger mb-3 mb-md-0" %>
</div>
  </div>
</div>