<div class="custom-container">
  <%= form_with(model: deposit) do |form| %>
    <% if deposit.errors.any? %>
      <div class="error-container">
        <h2><%= pluralize(deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>
        <ul>
          <% deposit.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :good_id %>
          <%= form.collection_select :good_id, Good.all, :id, :name_with_initial, { prompt: 'Please select good for this deposit' }, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :amount %>
          <%= form.text_field :amount, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :customer_id %>
          <%= form.collection_select :customer_id, Customer.all, :id, :name_with_initial, { prompt: 'Please select customer for this deposit' }, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :date %>
          <%= form.datetime_field :date, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group d-flex justify-content-center align-items-center">
      <%= form.submit "Save", class: "btn btn-primary custom-button" %>
    </div>
  <% end %>
</div>
