<div class="container">
  <div class="jumbotron text-center">
    <h2 class="display-4">Deposit Details</h2>
    <p class="lead" style="color: green;"><%= notice %></p>
  </div>

  <div class="customer-card">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Customer ID:</td>
          <td><%= @deposit.customer_id %></td>
        </tr>
        <tr>
          <td>First Name:</td>
          <td><%= @deposit.customer.first_name %></td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td><%= @deposit.customer.last_name %></td>
        </tr>
        <tr>
        <td>Country:</td>
        <td><%= @deposit.customer.country %></td>
      </tr>
        <tr>
          <td>Date:</td>
          <td><%= @deposit.date %></td>
        </tr>
        <tr>
          <td>Amount:</td>
          <td><%= @deposit.amount %></td>
        </tr>
        <% if @deposit.good_id.present? %>
          <tr>
            <td>Status:</td>
             <%= deposit(@deposit.good.status_received) %>
          </tr>
        <% end %>
      </tbody>
    </table>

  <div class="customer-links">
  <%= link_to "Download Receipt", download_receipt_path(@receipt), target: "_blank", class: "btn btn-secondary mr-3 mb-3 mb-md-0" %>
</div>
  
<div class="customer-links">
  <%= link_to "Edit this deposit", edit_deposit_path(@deposit), class: "btn btn-primary mr-3 mb-3 mb-md-0" %>
  <%= link_to "Back to deposits", deposits_path, class: "btn btn-secondary mr-3 mb-3 mb-md-0" %>
  <%= button_to "Delete deposit", @deposit, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger mb-3 mb-md-0" %>
</div>
  </div>
</div>
