<div class="container">
  <%= form_with(model: good) do |form| %>
    <% if good.errors.any? %>
      <div class="error-container">
        <h2><%= pluralize(good.errors.count, "error") %> prohibited this good from being saved:</h2>
        <ul>
          <% good.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :weight %>
      <%= form.text_field :weight, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :price %>
      <%= form.text_field :price, class: "form-control" %>
    </div>

    <div class="form-check">
      <%= form.label :status_received, class: "form-check-label" %>
      <%= form.check_box :status_received, class: "form-check-input" %>
    </div>

    <div class="container d-flex justify-content-center align-items-center" form-group">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
