<div class="container" style="margin: 20px auto; padding: 20px;">
  <div class="text-center">
    <h2>Receipts</h2>
  </div>

  <div class="row">
  <div class="col-md-6 offset-md-3">
    <input id="searchInput" class="form-control mb-3" type="text" placeholder="Search receipts by customer name">
  </div>
</div>
  
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customer ID</th>
          <th>Customer Name</th>
          <th>Good Name</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Deposit Amount</th>
          <th>Issued by</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @receipts.each do |receipt| %>
          <tr>
            <td><%= receipt.customer_id %></td>
            <td><%= "#{receipt.customer.first_name} #{receipt.customer.last_name}" %></td>
            <td><%= receipt.good_name %></td>
            <td><%= receipt.good&.unit_price %></td>
            <td><%= receipt.good&.weight %></td>
            <td><%= receipt.deposit.amount %></td>
            <td><%= "#{receipt.cherubim_user.first_name} #{receipt.cherubim_user.last_name}" %></td>
            <td><%= link_to "Print receipt", download_receipt_path(receipt), class: "btn btn-primary details-button" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%= javascript_include_tag 'receipts' %>
